
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.ipch
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.opendb
*.ncrunchsolution
*.ncrunchproject
*.pfx
AppPackages/
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.orig
*.vspx
*.psess
build/packages
build/VLC_WINRT.sln.DotSettings
*dll
*.stackdump
VR4VLC.VC.db

project.lock.json
/vlc-winrt/libvlc/Universal
/.vs/VR4VLC/v15/Browse.VC.db
/vlc-winrt/app/VLC.Universal/Package.StoreAssociation.xml